<h5>Important Dates</h5>
<p class="text-left"> 
	<ul>
		<li>
			<strong>Submission deadline:</strong> January 15, 2023.
		</li>
		<li>
			<strong>Notification of acceptance:</strong> February 17, 2023.
		</li>
		<li>
			<strong>Camera ready due:</strong> March 01, 2023.
		</li>
		<li>
			<strong>Workshop:</strong> April 17, 2023.
		</li>

	</ul>
    <!--If you have any problems or questions, please contact us via e-mail at: 
    <a href="mailto:{{ site.data.conference.email }}">
        <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> 
        {{ site.data.conference.email }}
    </a>
	-->
</p>