<h5>Potential PC members of the workshop</h5>
<p class="text-left"> 
	<ul>
		<li>
			Bo Tang, Southern University of Science and Technology
		</li>
		<li>
			Xiao Yan, Southern University of Science and Technology
		</li>
		<li>
			Lu Chen, Zhejiang University
		</li>
		<li>
			Jilin Hu, Aalborg University
		</li>
		<li>
			Yan Zhao, Aalborg University
		</li>
		<li>
			Huan Li, Aalborg University
		</li>
		<li>
			Xi Zhao, Hong Kong University of Science and Technology
		</li>
		<li>
			Ziqiang Yu, Yantai University
		</li>
		<li>
			Jianqiu Xu, Nanjing University of Aeronautics and Astronautics
		</li>
	</ul>
    <!--If you have any problems or questions, please contact us via e-mail at: 
    <a href="mailto:{{ site.data.conference.email }}">
        <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> 
        {{ site.data.conference.email }}
    </a>
	-->
</p>