<h5>Submission Instructions</h5>
<p class="text-left"> 
	Submissions must be original (not previously published and not under review in other forums). 
	This applies to papers on all tracks of the conference. Authors are advised to interpret these limitations strictly and to contact the PC chairs in case of doubt. 
	Paper submission must be in English. The page limits for regular papers are 16 pages, including all figures, tables, and references. 
	All accepted papers MUST follow strictly the instructions for LNCS Authors. Springer LNCS site offers style files and information:
	<a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines">https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines</a>
	Each accepted paper must be accompanied by at least one full registration, and an author is expected to present the paper at the conference, otherwise, the paper will be removed from the proceedings and the LNCS digital library. 
	Submission Link : 
	<a href="https://cmt3.research.microsoft.com/HOVE2023">https://cmt3.research.microsoft.com/HOVE2023</a>
	
    <!--If you have any problems or questions, please contact us via e-mail at: 
    <a href="mailto:{{ site.data.conference.email }}">
        <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> 
        {{ site.data.conference.email }}
    </a>
	-->
</p>